body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

div {
    margin-bottom: 15px;
}

label {
    margin-right: 10px;
}

#audio-selection {
    display: flex;
    flex-direction: column;
}

#site-audio-select,
#audio-file-input {
    margin-top: 5px;
}
/*
.rectangle {
    width: 33%; 
    height: 33%;
    background-color: black; 
    position: absolute; 
    top: 0; 
    left: 0; 
    border-radius: 5%; 
    opacity: 0.5;
    z-index: -1;
}
*/
