body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-size: cover; 
    background-position: bottom center; 
    background-attachment: fixed; 
}


h1 {
    color: #e6e6e6;
}

#page-title {
    width: 40%;            /* Définit la largeur à 40% de la page */
}

div {
    margin-bottom: 15px;
}

div label {
    color: rgb(231, 231, 231); 
    font-size: 16px;
}

input[type="radio"] {
    accent-color: rgb(255, 255, 255); 
}

label {
    margin-right: 10px;
}

#audio-selection {
    display: flex;
    flex-direction: column;
}

#site-audio-select,
#audio-file-input {
    margin-top: 5px;
}

.rectangle {
    width: 45%; 
    height: 45%;
    background-color: black; 
    position: absolute; 
    top: 0; 
    left: 0; 
    border-radius: 10%; 
    opacity: 0.5;
    z-index: -1;
}

