/* ====== Global Styles ====== */

.rectangle {
    width: 45%; 
    height: 50%;
    background-color: black; 
    position: absolute; 
    top: 0; 
    left: 0; 
    border-radius: 5%; 
    opacity: 0.5;
    z-index: -1;
}
.rectangle-map {
    width: 45%; 
    height: 47.5%;
    background-color: black; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    border-radius: 5%; 
    opacity: 0.5;
    z-index: -1;
}

#audio-visualizer {
    width: 50%; 
    height: 45%; 
    background-color: black; 
    position: absolute; 
    top: 0;
    right: 0; 
    border-radius: 10%; 
    opacity: 0.5;
    z-index: -1; 
}

body {font-family: Arial, sans-serif;margin: 20px;background-size: cover; background-position: bottom center; background-attachment: fixed; }

h1 {color: #e6e6e6;}

div {margin-bottom: 10px;}

#page-title {width: 40%;}

#download-audio {margin-top: 10px; z-index: 1; margin-bottom: 10px;}


label[for="ir-amplitude"] {margin-bottom: 10px;color: rgb(231, 231, 231);}

#ir-amplitude-value{margin-bottom: 10px;color: rgb(231, 231, 231); }

#room-category-select {margin-top: 15px;}

div label {color: rgb(231, 231, 231); font-size: 16px;}

input[type="radio"] {accent-color: rgb(255, 255, 255);}

label {margin-right: 10px;}

/* ====== Buttons ========================================================== */

.button {
    background-color: #1e65b1; 
    color: rgb(60, 255, 0); 
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40%;
}

#apply-reverb{background-color: #008829;color: #fff; }
#stop-reverb{background-color: #880000;color: #fff; }
#tutorial-button{background-color: #a19f00;color: #000000;}
.button:hover {
    background-color: #001881; 
}

/* ====== Audio Selection Section ========================================================== */
#audio-selection {
    display: flex;
    flex-direction: column;
}

#site-audio-select,
#audio-file-input {
    margin-top: 5px;
}

/* ====== Footer ========================================================== */
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    z-index: 1;
    opacity: 0.5;
}

/* ====== Tutorial Page Styles ========================================================== */

#tutorial-page {
    background-color: #272727; 
    color: #c7c7c7; 
    line-height: 1.6; 
    font-family: 'Arial', sans-serif;
}

#tutorial-page header h1 {
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
}

#tutorial-page main ol {
    padding-left: 2rem;
    font-size: 1rem;
}

#tutorial-page main ol li {
    margin: 1rem 0;
    color: #dfdfdf;
}
.purple {color: rgb(203, 0, 221);}
.orange {color: rgb(255, 153, 0);}
.red {color: #ff0000;}
.green {color: #00d841;}


#tutorial-page footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9rem;
    color: #777;
}
/*=============================================================================================/*
